<div class="container">
    <div class="col-md-4 ml-auto mr-auto mt-3 card">
        <h2 class="text-center m-4 text-primary">iReferral</h2>
        <h3 class="text-center">Sign in</h3>
        <div class="border p-3 m-3" style="background-color:white">
            <!-- Form -->
            <form method="POST" class="text-center">
                <!-- National id-->
                <div class="md-form md-outline">
                    <input type="text" id="id" name="nationalId" class="form-control">
                    <label for="id">National Id</label>
                </div>
                <!-- Password -->
                <div class="md-form md-outline">
                    <input type="password" id="pss" name="password" class="form-control">
                    <label for="pss">Password</label>
                </div>
                <!-- Sign in button -->
                <button class="btn btn-primary btn-block text-capitalize" type="submit">Sign in</button>
            </form>
        </div>
        <div class="border m-3 p-3">
            <!-- Register -->
            <p class="text-center mt-auto mb-auto">Don't have account?
                <a href="../registration/a-signup">Create one!</a>
            </p>
        </div>
    </div>
</div>