<div class="slider">
    <div class="load">

    </div>
    <div class="content">
        <div class="principal">
            <h1 class="h1">PRODUCTION STUDIO</h1>
            <hr>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p> 
          </div>
    </div>
</div>
<div class="container-fluid ">
<div class="row">
   <div class="col-md-8">
       <div class="card-header text-center h1">
           Projects that we have done
       </div>
       <div class="card-header">
      <p class="text-sm-left">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
 </div>
   </div>
  <div class="container col-md-4">
       <div class="container">
           <div class="card-body">
               <h3 class="text-center h3">
                   Notifications and Updates
               </h3>
           Our producers.
           some other info
       </div>
       <a href="admin/" class="card-link blue-text bg-gray ml-auto"> <p class="text-monospace text-right"><i>Admin login</i></p></a>
       </div>
   </div>

</div>

</div>