<div class="slider">
    <div class="load">
    </div>
    <div class="content">
        <a href="/">
    <h1 class="ml-5 text-white" title="Back to home">iReferral.</h1></a>
        <div class="principal">
            <h1 class="h1">myAdmin portal</h1>
            <hr>
            <p>Welcome to myAdmin page.You can create and manage your registered facilities on iReferral.Manage your
                staff through us.
            </p>
            <div class="row">
                <div class="col">
                    <a href="../auth/a-login"
                    class="btn btn-primary text-capitalize px-5">Sign in</a>
                </div>
                <div class="col">
                    <a href="../registration/a-signup"
                    class="btn btn-primary text-capitalize">Create Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-8">
            <div class="card-header text-center h1">
                Projects that we have done
            </div>
            <div class="card-header">
                <p class="text-sm-left">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                </p>
            </div>
        </div>
        <div class="container col-md-4">
            <div class="container">
                <div class="card-body">
                    <h3 class="text-center h3">
                        Notifications and Updates
                    </h3>
                    Our producers.
                    some other info
                </div>
                <a href="admin/" class="card-link blue-text bg-gray ml-auto">
                    <p class="text-monospace text-right"><i>Admin login</i></p>
                </a>
            </div>
        </div>

    </div>

</div>-->