<nav class="navbar navbar-expand-sm navbar-light">
    <h1 class="navbar-brand">iReferral.</h1>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                        <a class="nav-link" href="/help" target="blank">Help</a>
                    </li>
            <li class="nav-item">
                <a class="nav-link" href="#ser">Manage services</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" href="#emp">Manage staff</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link text-primary" href="/viewreferrals">View Referrals</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link text-primary" href="logout">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h3 class="my-3 text-primary text-center">Admin Dashboard</h3>
    <hr>
    <div class="row ml-auto mr-auto">
        <div class="col-md-3 card p-3">
            <h5><a href="">Delete Hospital</a></h5>
            <h5><a href="">Delete Hospital Manager</a></h5>
            <h5><a href="">Delete Patient</a></h5>

        </div>
        <div class="col-md-3 card ml-2 p-3">

            <h5><a href="">View Hospitals</a></h5>
            <h5><a href="">View Patient</a></h5>

        </div>
        <div class="col-md-3 card ml-2 p-3">

            <h5><a href="">Print Hospitals</a></h5>
            <h5><a href="">Print Patients</a></h5>
            <h5><a href="">Print Hospital Stuff</a></h5>


        </div>

    </div>
</div>