<body  style="background-color: whitesmoke">
     <div>
        <h1 class="mt-5"><a href="" title="Home" class="text-primary font-weight-bold ml-5">iReferral</a></h1>
    </div>
    <h2 class="text-center font-weight-bold mb-3">Admin Login</h2>
    <div class="col-md-4 card ml-auto mr-auto">
        <form>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <input type="text" id="empidu" name="empidu" class="form-control validate">
                    <label for="empidu">Username</label>
                    <small id="empidErroru" class="text-danger small-text" style="display: none;">Username does
                        not exist</small>
                </div>
                <div class="md-form mb-4">
                    <input type="password" id="passu" name="passu" class="form-control validate">
                    <label for="passu">Password</label>
                    <small id="passErroru" class="text-danger small-text" style="display: none;">Incorrect
                        password</small>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" id="login" class="btn btn-primary text-capitalize px-5">Log
                    in</button>
            </div>
        </form>
    </div>

<script type="text/javascript" src="/static/js/admin/login.js"></script>
</body>