<div class="py-3" style="background-color: whitesmoke">
    <div>
        <h2 class="text-primary  ml-5 py-3">iReferral</h2>
    </div>
    <section class="mb-4 container card py-3 hosregbg1">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
            directly. Our team will come back to you within
            a matter of hours to help you.</p>
        <div class="row">
            <div class="col-md-9 mb-md-0 mb-5">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Your name</label>
                                <small id="emailerror2" class="text-danger small-text" style="display: none;">Name field is empty.</small>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="email" id="email" name="email" class="form-control">
                                <label for="email" class="">Your email</label>
                                <small id="emailerror" class="text-danger small-text" style="display: none;">Email field is empty.</small>
                                <small id="emailerror2" class="text-danger small-text" style="display: none;">You've entered an invalid email.</small>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                                <small id="subjectrror" class="text-danger small-text" style="display: none;">Subject field is empty.</small>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2"
                                    class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                                <small id="messagerror" class="text-danger small-text" style="display: none;">Message field is empty.</small>

                            </div>

                        </div>
                    </div>
                </form>

                <div class="text-center text-md-left mb-5">
                    <button class="btn btn-primary text-capitalize px-5" type="submit" id="send">Send</button>
                </div>
                <div class="status"></div>
            </div>
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0 m-4">
                   <li>
                      <h4 class="text-primary mb-4">Contacts</h4>
                   </li>
                   <li>
                      <p class="text-success">Location</p>
                      <p>Tower1 Nakuru, KENYA</p>
                   </li>
 
                   <li>
                      <p class="text-success">Telephone</p>
                      <p>+ 254 704 145 832</p>
                   </li>
 
                   <li>
                      <p class="text-success">Email</p>
                      <p>contact@iReferral.com</p>
                   </li>
                </ul>
             </div>
        </div>
    </section>
</div>
<script></script>