
<body class="bg-primary">
    <div class="mt-5">
        <h1 class="text-white ml-5">iReferral.</h1>
    </div>
    <div class="container">
        <h2 class="text-center text1 mt-3">Doctor's Dashboard</h2>
        <div class=" row d-flex justify-content-end mt-3">
            <div class="col py-3">
                <h4>Welcome {{.First}} {{.Last}},</h4>
                <p>Diagonose and update the patient medical report.</p>
                <div class="accordion" id="accordion2">
                    <div id="head3">
                        <button class="btn px-5 btn-success text-capitalize py-2" type="button"
                            data-toggle="collapse" data-target="#collapseTwo" title="Click me to find patient"
                            aria-expanded="true" aria-controls="collapseOne">
                            Find Patient
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse hide" aria-labelledby="head3" data-parent="#accordion2">
                        <div class="card col-md-6 py-3">
                            <p class="text-primary">Search the patient by Huduma No:</p>
                            <form action="/doctor" method="GET">
                                <div class="md-form mt-0 md-outline">
                                    <input type="text" id="hdm" name="huduma" class="form-control">
                                    <label for="hdm">Enter Huduma No</label>
                                </div>
                                <button type="submit"
                                    class="btn btn-block btn-success text-capitalize py-2 ">Search</button>
                            </form>
                        </div>
                    </div>
                   
                </div>

            </div>
            <div>
                <div class="card view overlay zoom z-depth-5 circle">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle"
                        alt="profile photo">
                </div>
            </div>
        </div>

        <div class="col-md-4 ml-auto">
            <div>
                <div class="card hoverable z-depth-5 circle1">
                    <a href="#" class="text-warning">Change password</a>
                    <a href="logout">Log out</a>
                </div>
            </div>
        </div>
        <div class="ml-auto">
            <h3><a href="#" class="text1">get help.</a></h3>
        </div>
    </div>
</body>
   

