<body class="bg-primary">
    <div class="mt-5">
        <h1 class="text-white ml-5">iReferral.</h1>
    </div>
    <div class="container">
        <h2 class="text-center text1 mt-3">Doctor's Dashboard</h2>
        <div class="row">
            <div class="col-md-2 text-white card bg-primary mr-4 p-4">
                <p>Quick navigation.</p>
                <hr>
                <ul style="list-style-type:square;">
                    <li><a href="#" class="text-white">Help</a></li>
                    <li> <a href="#" class="text-white">About us</a></li>
                    <li> <a href="#" class="text-white">Contact us</a></li>
                    <li><a href="logout" class="text-white">Log out</a></li>
                </ul>
                <hr>
            </div>
            <div class=" row mt-3 col-md-10 py-3 pb-5">
                <div class="col ">
                    <h4>Welcome {{.First}} {{.Last}},</h4>
                    <p>Diagonose and update the patient medical report.</p>
                    <p>Search patients who already have iReferral accound to update or view there medical reporyt.</p>
                    <div class="accordion" id="accordion2">
                        <div id="head3">
                            <button class="btn px-5 btn-success text-capitalize py-2" type="button"
                                data-toggle="collapse" data-target="#collapseTwo" title="Click me to find patient"
                                aria-expanded="true" aria-controls="collapseOne">
                                Find Patient
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse hide" aria-labelledby="head3" data-parent="#accordion2">
                            <div class="card col-md-6 py-3">
                                <p class="text-primary">Search the patient by Huduma No:</p>
                                <form action="/doctor" method="GET">
                                    <div class="md-form mt-0 md-outline">
                                        <input type="text" id="hdm" name="huduma" class="form-control">
                                        <label for="hdm">Enter Huduma No</label>
                                    </div>
                                    <button type="submit"
                                        class="btn btn-block btn-success text-capitalize py-2 ">Search</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 ml-auto px-5">
                    <div class="card hoverable z-depth-5 circle1">
                        <a href="#"> <img src="static/img/arro.png" alt="arrow" style="height:50px; width:50px"></a>
                        <a href="searchfacility" class="text-warning">
                            <h5>Refer the patient.</h5>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>