				<!-- Footer -->
				<footer class="page-footer font-small mt-3">
				  <div class="row ml-auto">
				    <div class=" col-md-12 py-3">
				      <div class="flex-center">
				        <p class="mr-5 text-primary text-hidden">@2019 cetride</p>
				        <a class="mr-5 text-primary" href="#">About</a>
				        <a class="mr-5 text-primary" href="#">Help Center</a>
				        <a class="mr-5 text-primary" href="#">Terms</a>
				        <a class="mr-5 text-primary" href="#">Privacy Policy</a>
				        <a class="mr-5 text-primary" href="#">Cookies</a>
				        <a class="mr-5 text-primary" href="#">Advertise</a>
				      </div>
				    </div>
				  </div>

				</footer>
				<!-- Footer -->