<div class="container">
        <div class="mb-5">
                <h1 class="text-primary mt-3">iReferral.</h1>
            </div>
        <h4 class="text-center ml-auto mr-auto mb-3 text-primary">Get Help</h4>
    <div class="accordion" id="accordionExample">
        <div class="card z-depth-0 bordered">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        1.Creating an account and log in
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <h5 class="text-primary">Patient account</h5>
                    <p>To create an account as a patient, fill in the form provided when you click on a button "Patient
                        portal"
                        and create account link on the dropdown provided.The password sould be eight or more characters
                        with a combination
                        of both upper and lower case plus digits
                    </p>
                    <p>To log in to the system click on the sign in link and provide the huduma number in its respective
                        field and the password you created during the sign up.
                    </p>
                    <h5 class="text-primary">Doctor's account</h5>
                    <p>To create an account as a patient, fill in the form provided when you click on a button "Doctor
                        portal"
                        and create profile link on the dropdown provided.The password sould be eight or more characters
                        with a combination
                        of both upper and lower case plus digits</p>
                    <p>To log in to the system click on the sign in link and provide the employee id provided by the
                        hospital management in its respective
                        field and the password you created during the sign up.
                    </p>
                    <h5 class="text-primary">Hospital management</h5>
                    <p>On the landing page("home page") on the left side of the navigation bar, click on the "hospital
                        management"
                        button to get authenticated
                    </p>
                    <p>To create an account click on register and provide the fields to the form displayed.</p>
                    <p>To log in fill in the two fields of the form with national id and password you created during
                        registration</p>
                    <p>Having further problems, <a href="/contact_us" target="blank">write to us.</a></p>
                </div>
            </div>
        </div>
        <div class="card z-depth-0 bordered">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2.View referrals
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Referrals can only be viewed by the patient and hospital management.</p>
                    <p>Log in to your account as a patient or the hospital management.</p>
                    <p class="text-primary">Patient referrals</p>
                    <p>As a patient, input in the forms provided with the start date and end dates (this are the dates
                        you wish to view
                        your referrals within those days and click search.
                    </p>
                    <p class="text-primary">Hospital referrals</p>
                    <p>As a hospital administrator, input in the forms provided with the start date and end dates (this
                        are the dates you wish to view
                        the referrals conducted to your facility within those days and click search.
                    </p>
                </div>
            </div>
        </div>
        <div class="card z-depth-0 bordered">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3.Find patient
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Find patient is always done by the doctor when the patient needs to be diagnosed.</p>
                    <p>You are required first to log in to the system as a doctor.</p>
                    <p>On the doctor's dashboard, click on the "Find patient" button and searcch the patient by the
                        huduma number.</p>
                </div>
            </div>
        </div>
        <div class="card z-depth-0 bordered">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThre" aria-expanded="false" aria-controls="collapseThre">
                        4.Refer patient
                    </button>
                </h5>
            </div>
            <div id="collapseThre" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Referrals are done by the doctor.</p>
                    <p>To refer a patient, click on the refer patient link on the doctor's dashboard,
                        fill the form that pops up with the patient huduma number and the service name the patient
                        requires to undergo.
                    </p>
                    <p>Upon submission of the valid data, another page appears, where you're required to choose the
                        desired hospital.Select date and time the patient is required to be referred.Then submit the
                        details of the form.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center font-weight-bold mt-4">For more information,<a href="/contact_us">write to us</a></p>
</div>