<div class="background">
   <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand text-primary h1 mt-auto mb-auto" href="#">iReferral.</a>
      <!-- trigger button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <i class="navbar-toggler-icon" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse mr-5" id="navbarNav">

         <ul class="navbar-nav ml-auto font-weight-bolder">

            <li class="nav-item mr-5">
               <a class="nav-link" href="#">Help</a>
            </li>

            <li class="nav-item mr-5 ">
               <a class="nav-link" href="#about">About us</a>
            </li>

            <li class="nav-item mr-5 ">
               <a class="nav-link" href="#contact">Contact us</a>
            </li>

         </ul>
         <a href="auth/myadmin"><button class="btn btn-primary text-capitalize px-2 py-2">myAdmin</button></a>

      </div>
   </nav>
   <div class="container-fluid">
      <div class="mt-5">
         <div class=" ml-5 row mt-5">
            <div class="col-md-3">
               <div class="accordion" id="accordion1">
                  <div id="head1">
                     <button class="btn  px-5 btn-rounded btn-primary text-capitalize  py-2" type="button"
                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Patient Portal
                     </button>
                  </div>
                  <div id="collapseOne" class="collapse hide" aria-labelledby="head1" data-parent="#accordion1">
                     <div class="card ml-3 p-3">
                        <a class="ml-1 mb-3" href="auth/p_login"><b>Sign in to iReferral</b></a>
                        <a href="registration/p_signup">
                           <button class="btn btn-success ml-1 text-capitalize py-2 ">Create Account</button></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3 ">
               <div class="accordion" id="accordion2">
                  <div id="head2">
                     <button class="btn px-5 btn-rounded btn-primary text-capitalize px-3 py-2" type="button"
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                        aria-controls="collapseOne">
                        Staff Portal
                     </button>
                  </div>
                  <div id="collapseTwo" class="collapse hide" aria-labelledby="head2" data-parent="#accordion2">
                     <div class="card ml-3 p-3">
                        <a class="ml-1 mb-3" href="auth/s_login"><b>Sign in to iReferral</b></a>
                        <a href="registration/s-signup">
                           <button class="btn btn-success ml-1 text-capitalize py-2">Create Password</button></a>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="ml-5 col-md-4 mt-6 py-5">
         <h3>iReferral. Your full circle of care</h3>
         <div class=" mt-5">
            <h6>Building a healthy community one individual at a time through us.</h6>
            <h6>Look for a better health facility with much ease.Save cash and time.</h6>
            <button class="btn px-5 py-2 mt-5 btn-success btn-floating text-capitalize">What we do</button>
         </div>
      </div>
   </div>

</div>

<div id="about">

   <div class="container">
      <div class="mt-5">
         <h1 class="text-primary">About iReferral.</h1>
         <hr>
      </div>

      <div>
         <p>
            ReferralMD delivers proven referral management, patient access, CRM, and e-consult solutions that help
            hospitals, health systems, networks, and payers streamline the referral process, decrease patient leakage
            and improve communication between providers and patients.
         </p>
         <p>
            The enterprise platform intelligently matches patients with the most appropriate, high-quality providers and
            closes the feedback loop between referring providers and patients.
         </p>
         <p>
            The solution’s powerful workflow and clinical decision support tools help healthcare providers increase
            revenue, drive operational efficiencies and improve customer service with community providers.
         </p>

      </div>
   </div>
</div>
<div id="contact" class="hosregbg1">
   <!--Section: Contact v.2-->
   <div class="p-1 container-fluid">
      <section class="mb-4 mt-5 container">
         <!--Section heading-->
         <h2 class="h1-responsive font-weight-bold text-primary text-center my-4">Write to us</h2>
         <!--Section description-->
         <p class="text-center w-responsive mx-auto mb-5">Do you have any questions or need help? Please do not
            hesitate to
            contact us directly. Our team will come back to you within
            a matter of hours to help you.Thank you!</p>

         <div class="row">
            <!--Grid column-->
            <div class="col-md-7 ml-3 mb-md-0 mb-5">
               <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                  <!--Grid row-->
                  <div class="row">
                     <!--Grid column-->
                     <div class="col-md-6">
                        <div class="md-form mb-0">
                           <input type="text" id="name" name="name" class="form-control">
                           <label for="name" class="">Your name</label>
                        </div>
                     </div>
                     <!--Grid column-->
                     <!--Grid column-->
                     <div class="col-md-6">
                        <div class="md-form mb-0">
                           <input type="text" id="email" name="email" class="form-control">
                           <label for="email" class="">Your email</label>
                        </div>
                     </div>
                     <!--Grid column-->
                  </div>
                  <!--Grid row-->

                  <!--Grid row-->
                  <div class="row">
                     <div class="col-md-12">
                        <div class="md-form mb-0">
                           <input type="text" id="subject" name="subject" class="form-control">
                           <label for="subject" class="">Subject</label>
                        </div>
                     </div>
                  </div>
                  <!--Grid row-->

                  <!--Grid row-->
                  <div class="row">

                     <!--Grid column-->
                     <div class="col-md-12">

                        <div class="md-form">
                           <textarea type="text" id="message" name="message" rows="2"
                              class="form-control md-textarea"></textarea>
                           <label for="message">Your message</label>
                        </div>

                     </div>
                  </div>
                  <!--Grid row-->
                  <button class="btn btn-primary text-capitalize py-2 px-5" type="submit">send</button>
               </form>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 text-center">
               <ul class="list-unstyled mb-0 m-4">
                  <li>
                     <h4 class="text-primary mb-4">Contacts</h4>
                  </li>
                  <li>
                     <p class="text-success">Location</p>
                     <p>Tower1 Nakuru, KENYA</p>
                  </li>

                  <li>
                     <p class="text-success">Telephone</p>
                     <p>+ 254 704 145 832</p>
                  </li>

                  <li>
                     <p class="text-success">Email</p>
                     <p>contact@iReferral.com</p>
                  </li>
               </ul>
            </div>
            <!--Grid column-->
         </div>
      </section>
      <!--Section: Contact v.2-->
   </div>
</div>