<div class="background">
   <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand text-primary h1 mt-auto mb-auto" href="#">iReferral.</a>
      <!-- trigger button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <i class="navbar-toggler-icon" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse mr-5" id="navbarNav">

         <ul class="navbar-nav ml-auto font-weight-bolder">

            <li class="nav-item mr-5">
               <a class="nav-link" href="#">Need Help?</a>
            </li>

            <li class="nav-item mr-5 ">
               <a class="nav-link" href="#about">About us</a>
            </li>

            <li class="nav-item mr-5 ">
               <a class="nav-link" href="/contact">Contact us</a>
            </li>

         </ul>
         <a href="/management_authentication"><button class="btn btn-primary text-capitalize px-2 py-2">Hospital
               management</button></a>

      </div>
   </nav>
   <div class="container">
      <div class="col-md-4 mt-6 py-5">
         <h3>iReferral. Your full circle of care.</h3>
         <div class=" mt-5">
            <h6>Building a healthy community one individual at a time through us.</h6>
            <h6>Look for a better health facility with much ease.Save cash and time.</h6>

            <a href="" class="btn btn-primary py-2 text-capitalize mt-4" data-toggle="modal" data-target="#whatwedo">What do we do?</a>
            <!-- what do we do modal -->
            <div class="modal fade " id="whatwedo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
               aria-hidden="true">
               <div class="modal-dialog card" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="text-success text-center font-weight-bolder">What we do at iReferral.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div>
                        <div class="p-5">
                        <ul style="list-style-type:square">
                           <li>Patient referral from one facility to another.</li>
                           <li>Patient diagnosis medical report storage.</li>
                           <li>Patient medical reports retrieval.</li>
                        </ul>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- what do we do -->
         </div>
      </div>
         <div>
            <h5 class="ml-1">To get started with iReferral click on the buttons below as a patient or a doctor.</h5>
         </div>
         <div class="row mt-5">
            <div class="col-md-4">
               <div class="accordion" id="accordion1">
                  <div id="head1">
                     <button class="btn  btn-primary text-capitalize  py-2" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Patient Portal
                     </button>
                  </div>
                  <div id="collapseOne" class="collapse hide" aria-labelledby="head1" data-parent="#accordion1">
                     <div class="card ml-3 p-3">
                        <a class="ml-1 mb-3" href="" data-toggle="modal" data-target="#patientlogin"><b>Sign in to
                              iReferral</b></a>
                        <a href="" data-toggle="modal" data-target="#patientSignup">
                           <button class="btn btn-success ml-1 text-capitalize py-2 ">Create Account</button></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ml-7 col-md-4">
               <div class="accordion" id="accordion2">
                  <div id="head2">
                     <button class="btn btn-primary text-capitalize  py-2" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                        Doctor Portal
                     </button>
                  </div>
                  <div id="collapseTwo" class="collapse hide" aria-labelledby="head2" data-parent="#accordion2">
                     <div class="card ml-3 p-3">
                        <a class="ml-1 mb-3" href="" data-toggle="modal" data-target="#stafflogin"><b>Sign in to
                              iReferral</b></a>
                        <a href="" data-toggle="modal" data-target="#staffSignup">
                           <button class="btn btn-success ml-1 text-capitalize py-2">Create profile</button></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="about">

   <div class="container">
      <div class="mt-5">
         <h1 class="text-primary">About iReferral.</h1>
         <hr>
      </div>

      <div>
         <p>
            iReferral delivers proven referral management, patient access solutions that help
            hospitals, health systems, networks, and payers streamline the referral process, decrease patient leakage
            and improve communication between providers and patients.
         </p>
         <p>
            The enterprise platform intelligently matches patients with the most appropriate, high-quality providers and
            closes the feedback loop between referring providers and patients.
         </p>
         <p>
            The solution’s powerful workflow and clinical decision support tools help healthcare providers increase
            revenue, drive operational efficiencies and improve customer service with community providers.
         </p>

      </div>
   </div>
</div>
<!-- patient log in modal -->
<div class="modal fade " id="patientlogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog card" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="text-success text-center font-weight-bolder">Log in.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <form>
            <div class="modal-body mx-3">
               <div class="md-form mb-5">
                  <input type="text" id="huduma1" name="huduma" class="form-control validate">
                  <label for="huduma1">Huduma number</label>
                  <small id="hudumaError1" class="text-danger small-text" style="display: none;">You entered incorrect
                     huduma number</small>
               </div>
               <div class="md-form mb-4">
                  <input type="password" id="password1" name="password" class="form-control validate">
                  <label for="password1">Password</label>
                  <small id="passwordError1" class="text-danger small-text" style="display: none;">Incorrect
                     password</small>
               </div>
            </div>
            <div class="text-center">
               <p>New to iReferral?<a href="" class="text-primary" data-toggle="modal" data-target="#patientSignup"
                     onclick='$(this).closest(".modal").modal("hide")'>Register</a>.</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
               <button type="submit" id="submit1" class="btn btn-primary text-capitalize px-5">Log in</button>
            </div>
         </form>
      </div>
   </div>
</div>

<!-- staff log in modal -->
<div class="modal fade " id="stafflogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog card" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="text-success text-center font-weight-bolder">Log in.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <form>
            <div class="modal-body mx-3">
               <div class="md-form mb-5">
                  <input type="text" id="empid" name="empid" class="form-control validate">
                  <label for="empid">Employee id</label>
                  <small id="empiderror" class="text-danger small-text" style="display: none;">You entered incorrect
                     employee id</small>
               </div>
               <div class="md-form mb-4">
                  <input type="password" id="password2" name="password" class="form-control validate">
                  <label for="password2">Password</label>
                  <small id="passwordError2" class="text-danger small-text" style="display: none;">Incorrect
                     password</small>
               </div>
            </div>
            <div class="text-center">
               <p>Have no profile ?<a href="" data-toggle="modal" data-target="#staffSignup"
                     onclick='$(this).closest(".modal").modal("hide")'>Create one</a>.</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
               <button type="submit" id="submit2" class="btn btn-primary text-capitalize px-5">Log in</button>
            </div>
         </form>
      </div>
   </div>
</div>

<!-- patient sign up modal -->
<div class="modal fade " id="patientSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog card" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="text-success text-center font-weight-bolder">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <!-- Form -->
         <form>
            <div class="border-1 p-5">
               <div class="form-row mt-0">
                  <div class="col">
                     <!-- First name -->
                     <label class="text-primary" for="first">First name</label>
                     <input type="text" id="first" name="first" class="form-control">
                     <small id="firstError" class="text-danger small-text" style="display: none;">Fill in first
                        name</small>
                  </div>
                  <div class="col">
                     <!-- Last name -->
                     <label class="text-primary" for="last">Last name</label>
                     <input type="text" id="last" name="last" class="form-control">
                     <small id="lastError" class="text-danger small-text" style="display: none;">Fill in last
                        name</small>

                  </div>
               </div>
               <div class="form-row mt-1">
                  <div class="col">
                     <!-- Huduma no-->
                     <label class="text-primary" for="hdm1">Huduma No</label>
                     <input type="text" id="hdm1" name="huduma" class="form-control">
                     <small id="hdm1Error" class="text-danger small-text" style="display: none;">Huduma number already
                        used.Choose another one</small>
                     <small id="hdmError1" class="text-danger small-text" style="display: none;">Invalid huduma
                        number</small>

                  </div>
                  <div class="col">
                     <!-- phone number -->
                     <label class="text-primary" for="phone1">Phone No</label>
                     <input type="text" id="phone1" name="phone1" class="form-control">
                     <small id="phone1Error" class="text-danger small-text" style="display: none;">Invalid phone
                        number</small>

                  </div>
               </div>
               <div class="form-row mt-1">
                  <div class="col">
                     <!-- date of birth -->
                     <label class="text-primary" for="dob">Date of Birth</label>
                     <input type="text" id="dob" name="dob" class="form-control popupDatepicker" readonly="readonly"
                        style="background:white;">
                     <small id="dobError" class="text-danger small-text" style="display: none;">Fill in date of birth
                        field</small>

                  </div>
                  <div class="col">

                     <label class="text-primary" for="sex">Gender</label>
                     <select name="sex" class="form-control" id="sex">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                     </select>

                  </div>
               </div>
               <div class="form-row mt-1">
                  <div class="col">
                     <!-- Password -->
                     <label class="text-primary" for="pass">Password</label>
                     <input type="password" id="pass" name="pass" class="form-control">
                  </div>
                  <div class="col">
                     <!-- Confirm password -->
                     <label class="text-primary" for="copass">Confirm Password</label>
                     <input type="password" id="copass" name="copass" class="form-control">

                  </div>
                  <small id="helpBlock" class="form-text text-success ml-auto mr-auto text-muted">
                     Use 8 or more characters including digits& both capital and small letters
                  </small>
                  <small id="passError" class="text-danger small-text" style="display: none;">Password must contain 8 or
                     more characters including digits& both capital and small letters</small>
                  <small id="passError1" class="text-danger small-text" style="display: none;">Password and confirm
                     password does not match</small>

               </div>
               <!-- Sign up button -->
               <div class="row mt-1">
                  <div class="col">
                     <p class="py-3">Have an account?<a href="" class="text-primary" data-toggle="modal"
                           data-target="#patientlogin" onclick='$(this).closest(".modal").modal("hide")'>Log in</a></p>
                  </div>
                  <div class="col ml-auto">
                     <button class="btn btn-primary text-capitalize py-2 btn-block" id="patSubmit"
                        type="submit">Register</button>

                  </div>
               </div>
            </div>
         </form>
      </div>
      <!-- Form -->
   </div>
</div>

<!-- staff sign up modal -->
<div class="modal fade " id="staffSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog card" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="text-success text-center font-weight-bolder">Create Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <!-- Form -->
         <form>
            <div class="border-1 p-5">

               <div class="md-form mt-0 md-outline">
                  <input type="text" id="emp" name="emp" class="form-control">
                  <label for="emp">Employee ID</label>
                  <small id="helpBlock" class="form-text mr-auto mb-2 text-warning text-muted">
                     * Use your national id number used for your employment.
                  </small>
                  <small id="empError" class="text-danger small-text" style="display: none;">Employee id already
                     registered.</small>
                  <small id="empError1" class="text-danger small-text" style="display: none;">Employee id does not
                     exist</small>

               </div>
               <div class="form-row md-form mt-0 md-outline">
                  <div class="col">
                     <!-- date of birth -->
                     <input type="email" id="em" name="em" class="form-control">
                     <label for="em">Email</label>
                     <small id="emError" class="text-danger small-text" style="display: none;">Invalid phone
                        number</small>

                  </div>
                  <div class="col">
                     <!-- phone number -->
                     <input type="text" id="phone" name="phone" class="form-control">
                     <label for="phone">Phone No</label>
                     <small id="phoneError" class="text-danger small-text" style="display: none;">Invalid phone
                        number</small>
                  </div>
               </div>

               <div class="form-row md-form mt-0 md-outline">
                  <div class="col">
                     <!-- Password -->
                     <input type="password" id="mypass" name="mypass" class="form-control">
                     <label for="mypass">Password</label>
                  </div>
                  <div class="col">
                     <!-- Confirm password -->
                     <input type="password" id="comypass" name="comypass" class="form-control">
                     <label for="comypass">Confirm</label>
                  </div>
                  <small id="helpBlock" class="form-text ml-auto mr-auto text-muted">
                     Use 8 or more characters including digits& both capital and small letters
                  </small>
                  <small id="mypassError" class="text-danger small-text" style="display: none;">Password must contain 8
                     or more characters including digits& both capital and small letters</small>
                  <small id="comypassError" class="text-danger small-text" style="display: none;">Password and confirm
                     password does not match</small>

               </div>
               <!-- Sign up button -->
               <div class="row mt-1">
                  <div class="col">
                     <p class="py-3">Have an account?<a href="" class="text-primary" data-toggle="modal"
                           data-target="#stafflogin" onclick='$(this).closest(".modal").modal("hide")'>Log in</a></p>
                  </div>
                  <div class="col ml-auto">
                     <button class="btn btn-primary text-capitalize py-2 btn-block " id="staffSubmit"
                        type="submit">Create</button>
                  </div>
               </div>
            </div>
         </form>
         <!-- Form -->
      </div>
   </div>
</div>

<script src="/static/js/custom/patientLogin.js"></script>
<script src="/static/js/custom/patientSignup.js"></script>
<script src="/static/js/custom/staffLogin.js"></script>
<script src="/static/js/custom/staffSignup.js"></script>