<div class="background">
   <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand text-primary h1 mt-auto mb-auto" href="#">iReferral</a>
      <!-- trigger button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <i class="navbar-toggler-icon" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse mr-5" id="navbarNav">

         <ul class="navbar-nav ml-auto">

            <li class="nav-item mr-5">
               <a class="nav-link" href="#">Help</a>
            </li>

            <li class="nav-item mr-5 ">
               <a class="nav-link" href="#">About us</a>
            </li>

            <li class="nav-item mr-5 ">
               <a class="nav-link" href="#">Contact us</a>
            </li>

         </ul>
         <a href="#"><button class="btn btn-primary text-capitalize px-2 py-2">myAdmin</button></a>

      </div>
   </nav>
   <div class="container-fluid">
      <div class="mt-5">
         <div class=" ml-5 row mt-5">
            <div class="col-md-3">
               <div class="accordion" id="accordion1">
                  <div id="head1">
                     <button class="btn  px-5 btn-rounded btn-primary text-capitalize  py-2" type="button"
                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Patient Portal
                     </button>
                  </div>
                  <div id="collapseOne" class="collapse hide" aria-labelledby="head1" data-parent="#accordion1">
                     <div class="card ml-3 p-3">
                        <a class="ml-1 mb-3" href="auth/p_login"><b>Sign in to iReferral</b></a>
                        <a href="registration/p_signup">
                           <button class="btn btn-success ml-1 text-capitalize py-2 ">Create Account</button></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3 ">
               <div class="accordion" id="accordion2">
                  <div id="head2">
                     <button class="btn px-5 btn-rounded btn-primary text-capitalize px-3 py-2" type="button"
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                        aria-controls="collapseOne">
                        Staff Portal
                     </button>
                  </div>
                  <div id="collapseTwo" class="collapse hide" aria-labelledby="head2" data-parent="#accordion2">
                     <div class="card ml-3 p-3">
                        <a class="ml-1 mb-3" href="auth/s_login"><b>Sign in to iReferral</b></a>
                        <a href="registration/s-signup">
                           <button class="btn btn-success ml-1 text-capitalize py-2">Create Password</button></a>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="ml-5 col-md-4 mt-6 py-5">
         <h3>HRM, Your full circle of care</h3>
         <div class="ml-4 mt-5">
            <h6>Building a healthy community one individual at a time through us.</h6>
            <h6>Look for a better health facility with much ease.Save cash and time.</h6>
            <button class="btn px-5 py-2 mt-5 btn-success btn-floating text-capitalize">What we do</button>
         </div>
      </div>
   </div>
</div>