<body style="background-color:whitesmoke">
    <nav class="navbar navbar-expand-sm navbar-light">
        <h1 class="navbar-brand">iReferral.</h1>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="mymedicalrecords">My medical history</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="myreferrals">View Referrals</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link text-primary" href="logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="ml-5 mt-5">
        <h3 class="text-primary">{{.PatientFirstname}}, welcome to iReferral patient portal.</h3>
    </div>
    <div class="container">
        <hr>
        <div class="card-deck">
            <div class="card mb-4 ">
                <div class="view overlay zoom img-fluid z-depth-1">
                    <img class="card-img-top" src="/static/img/p2.jpg" alt="Card image cap" style="height:300px;">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Where is my past medical history?</h4>
                    <p class="card-text">Some quick info about your medical life since the time you joined iReferral
                        till now.Starting from the latest to the oldest.</p>
                    <a href="/mymedicalrecords" class="btn btn-success btn-md">Medical records</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="view overlay zoom img-fluid z-depth-1">
                    <img class="card-img-top" src="/static/img/p.jpg" alt="Card image cap" style="height:300px;">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Am referred to ?</h4>
                    <p class="card-text">Check out on the current referrals and your
                        previous referrals.You can also use dates to filter your referral history.</p>
                    <a href="/myreferrals" class="btn btn-success btn-md">referrals</a>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <a href="/" class="mr-5"> Back to home page.</a>
            <a href="/"> Need help?</a>
        </div>
        <hr>
    </div>
</body>