<div>
    <nav class="navbar navbar-expand-sm navbar-light">
        <h1 class="navbar-brand text-primary">iReferral.</h1>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-5" href="/mymedicalrecords">Patient Medical Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-5" href="logout">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-capitalize py-2 px-4" href=" " data-toggle="modal"
                        data-target="#refer">Refer
                        Patient</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="card p-4 mt-4">
            <div class="bg-primary">
                <h1 class="py-3 text-white text-center">Patient Medical Details</h1>
            </div>
            <div class="mt-4">
                <h3>Record of patient diagnosis</h3>
            </div>
            <hr>
            <div>
                <form method="POST">
                    <h4 class="text-primary mb-3">Patient Details</h4>
                    <div class="row">

                        <div class="col-md-4">
                            <label class="text-success">Patient Huduma No:</label>
                            <p class="text-black">{{.Huduma}}</p>
                        </div>
                        <div class="col-md-4">
                            <label class="text-success">Patient Name:</label>
                            <p class="text-black">{{.FName}} {{.LName}}</p>
                        </div>
                        <div class="col-md-4">
                            <label class="text-success">Patient Age:</label>
                            <p class="text-black">{{.Age}}</p>
                        </div>
                    </div>
                    <hr>
                    <h4 class="text-primary mb-3">Medical Triage Details</h4>
                    <div class="row">
                        <div class="col-md-4 text-success">
                            <label for="w">Weight</label>
                            <input type="text" id="w" name="weight" class="form-control">
                        </div>
                        <div class="col-md-4 text-success">
                            <label for="t">Temperature</label>
                            <input type="text" id="t" name="temp" class="form-control">
                        </div>
                        <div class="col-md-4 text-success">
                            <label for="b">Blood pressure</label>
                            <input type="text" id="b" name="blood" class="form-control">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group mt-4">
                        <label class="text-success" for="issue">Patient Health Issue</label>
                        <textarea class="form-control" id="issue" name="diagnosis" rows="10"></textarea>
                    </div>
                    <div class="form-group mt-4">
                        <label class="text-success" for="medication">Patient response to medication</label>
                        <textarea class="form-control" id="medication" name="response" rows="10"></textarea>
                    </div>
                    <div class="form-group mt-4">
                        <label class="text-success" for="prescription">Doctor's Prescription</label>
                        <textarea class="form-control" id="prescription" name="prescription" rows="10"></textarea>
                    </div>
                    <button class="btn btn-primary text-capitalize px-5" type="submit">Submit</button>
                </form>
            </div>
            <div>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="modal fade" id="refer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-success">Enter the service the patient requires</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        <input type="text" id="service" name="service" class="form-control validate">
                        <label for="service">Service name</label>
                        <small id="serviceError" class="text-danger small-text" style="display: none;">Invalid service
                            name</small>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" id="submit" class="btn btn-primary text-capitalize px-5">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js">
</script> -->
<script>
    document.querySelector("#submit").onclick = (e) => {
        e.preventDefault()
        document.querySelector("#service").classList.remove("border-danger")
        document.querySelector("#serviceError").style.display = "none"

        axios.post("/searchservice", {
            service: document.querySelector("#service").value
        })
            .then(data => {
                window.location.href = data.data.Mymessage
            })
            .catch(err => {
                var resp = err.response.data
               
                if (resp.Services == "invalid") {
                    alert("Invalid service requested")
                    document.querySelector("#service").classList.add("border-danger")
                    document.querySelector("#serviceError").style.display = "block"
                }
            })

    }
</script>