<body class="bg-success">
    <div class="mb-5">
        <h1 class="text-white mb-5 p-5">iReferral.</h1>
    </div>
    <div class="text-center col-md-7 ml-auto mr-auto">
        <h2 class="my-5 font-weight-bolder">Patient Referral</h2>
        <h4 class="text-white">To refer the patient, search the hospitals offering the service by the service name
            the patient is required to be given at the facility.</h4>
    </div>
    <div class="ml-auto mr-auto col-md-4">
        <div class="ml-auto mr-auto my-4">
            <form class="form-inline" action="" method="POST">
                <input class="form-control form-control-lg ml-auto mr-auto" type="text" name="service"
                    placeholder="Service name.">
                <button class="btn btn-outline-white text-capitalize ml-auto mr-auto" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class=" text-center mt-5" title="Doctor's dashboard"><a href="doctor" class="text-white">
            <h4>Back to Doctor's dashboard</h4>
        </a>
    </div>
</body>