<body class="bg-primary">
    <div class="mb-5">
        <h1 class="text-white my-5 p-3">iReferral.</h1>
    </div>
    <div class="container">
        <div class="text-center ml-auto mr-auto">
            <h2 class="my-4 font-weight-bolder">Patient Referral</h2>
            <h4 class="text-white"></h4>
        </div>
<div class="col-md-4 ml-auto mr-auto border p-5 text-center">
    <form action="" method="POST">
        <label for="">Patient Huduma No:</label>
        <input type="text" name="huduma" class="form-control"><br>
        <button type="submit" class="btn btn-success text-capitalize btn-block mb-3">Submit</button>
        <small class="form-text text-white ml-auto mr-auto">
        Input the huduma number of the patient you want to refer.</small>
    </form>
</div>

    </div>
</body>