<body class="bg-primary">
    <div>
        <div class="mb-5">
            <h1 class="text-white mb-5 p-5">iReferral.</h1>
        </div>
                   <div class="card col-md-6 ml-auto mr-auto">
                <h4 class="my-5">
                    Unable to process your request now.You are not allowed to create more than one facility
                    profile.Contact us for help.Thank you.
                </h4>
                <div class="ml-auto mr-auto">
                <a href="/adminhome" class="btn btn-success text-capitalize my-2" title="admindashboard">Back to admin home</a>
            </div>
        </div>
    </div>
</body>