<body class="bg-primary">
    <div>
       <div class="mb-5">
        <a href="/"> <h1 class="text-white mb-5 p-5">iReferral.</h1></a>
       </div>
       <div class="text-center">
           <h3 class="my-5">Your account for admin has been successfully created.</h3>
           <h5 class="text-white">To continue using iReferral sign in here.</h5>
           <a href="/auth/a-login" class="btn btn-success px-5 text-capitalize my-4" title="sign in">Log
               in</a>

       </div>
   </div>