dy class="bg-primary">
<div>
    <div class="mb-5">
        <h1 class="text-white mb-5 p-5">iReferral.</h1>
    </div>
    <div class="card col-md-6 ml-auto mr-auto">
        <h4 class="my-5">
            Unable to process your request now.You cannot manage your facility without creating a facility
            profile.Create one now.Thank you.
        </h4>
        <div class="ml-auto mr-auto">
            <!-- {{if (eq .SessionId .Pat)}}
            <a href="/phome" class="btn btn-success text-capitalize my-2" title="admindashboard">Back to my
                dashboard</a>
            {{else if (eq .SessionId .Doc)}}
            <a href="/doctor" class="btn btn-success text-capitalize my-2" title="admindashboard">Back to my
                dashboard</a>
            {{else if (eq .SessionId .Admin)}}
            <a href="/doctor" class="btn btn-success text-capitalize my-2" title="admindashboard">Back to my
                dashboard</a>
            {{else}}
            <a href="/" class="btn btn-success text-capitalize my-2" title="admindashboard">Back to my dashboard</a>
            {{end}} -->

        </div>
    </div>
</div>
</body>