<body class="">
    <div>
       <div class="mb-5">
        <a href="/adminhome"> <h1 class="mb-5 p-5">iReferral.</h1></a>
       </div>
       <div class="text-center">
           <h3 class="my-5 text-primary">The facility employee/service is successfully udpdated to the system.</h3>
           <a href="/facility_management" class="my-3">Back to previous page</a>
           <h5 class="text-primary mt-3">To go back to your dashboard click here.</h5>
           <a href="/adminhome" class="btn btn-success px-5 text-capitalize my-4">Dashboard</a>
       </div>
   </div>