<body class="bg-primary">
    <div class="mb-5">
        <a href="/"><h1 class="text-white mb-5 p-5" title="Back to Home page">iReferral.</h1></a>
    </div>
    <div class="text-center">
        <h3 class="my-5">Your account for patient has been successfully created.</h3>
        <h5 class="text-white">To continue using iReferral sign in here.</h5>
        <a href="/auth/p_login" class="btn btn-success px-5 text-capitalize my-4" title="Refer the patient">Log
            in</a>
    </div>
</body>