<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.min.css">
    <link rel="stylesheet" href="../css/customCss/material-design/css/material-design-iconic-font.css" />
    <link rel="stylesheet" href="../css/custom/main.css">


    <title>Sign up to cetRide</title>
</head>

<body>
    <div class="container mt-3">
        <div class=" ml-auto mr-auto col-md-4 p-3 m-3 card">
            <h3 class="text-center text-primary">Hospital Referral Management</h3>
            <h5 class="text-center mb-3">Register Now It's free!</h5>
            <!-- Form -->
            <form method="POST" class="text-center">

                <!-- Huduma no-->
                <small id="helpBlock" class="form-text mr-auto mb-2 text-warning text-muted">
                    * Provide the Employee Id (6-digits) assigned to you.
                </small>
                <div class="md-form mt-0 md-outline">

                    <input type="text" id="hdm" class="form-control">
                    <label for="hdm">Employee ID</label>

                </div>
                <div class="form-row md-form mt-0 md-outline">
                    <div class="col">
                        <!-- date of birth -->
                        <input type="email" id="email" name="email" class="form-control">
                        <label for="email">Email</label>
                    </div>
                    <div class="col">
                        <!-- phone number -->
                        <input type="text" id="phone" name="phone" class="form-control">
                        <label for="phone">Phone No</label>
                    </div>
                </div>

                <div class="form-row md-form mt-0 md-outline">
                    <div class="col">
                        <!-- Password -->
                        <input type="password" id="fPassword" name="pass" class="form-control">
                        <label for="fPassword">Password</label>
                    </div>
                    <div class="col">
                        <!-- Confirm password -->
                        <input type="password" id="fConfirm" name="copass" class="form-control">
                        <label for="fConfirm">Confirm</label>
                    </div>
                    <small id="helpBlock" class="form-text ml-auto mr-auto text-muted">
                        Use 8 or more characters including digits,letters & symbols
                    </small>
                </div>
                <!-- Sign up button -->
                <div class="form-row md-form mt-0 md-outline">
                    <div class="col">
                        <a href="#"><button class="btn btn-flat text-capitalize border-0 text-primary py-2 px-2"><b>Sign
                                    in instead</b></button></a>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary text-capitalize  py-2 " type="submit">Sign up</button>
                    </div>
                </div>
            </form>
            <!-- Form -->
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/popper.min.js"></script>
<script type="text/javascript" src="../js/mdb.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<html>