<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.min.css">
    <link rel="stylesheet" href="../../css/customCss/material-design/css/material-design-iconic-font.css" />
    <link rel="stylesheet" href="../../css/custom/main.css">


    <title>iReferral-registration</title>
</head>
<body>
    <div class="container mt-3">
        <div class=" ml-auto mr-auto col-md-4 p-3 m-3 card">
            <h3 class="text-center text-primary">iReferral</h3>
            <h5 class="text-center mb-3">Create your facility here.</h5>
            <!-- Form -->
            <form method="POST" class="text-center">
                <!-- Name-->
                <div class="md-form mt-0 md-outline">
                    <input type="text" id="name" class="form-control">
                    <label for="name">Hospital Name</label>
                </div>
                 <!-- Name-->
                 <div class="md-form mt-0 md-outline">
                    <input type="text" id="serial" class="form-control">
                    <label for="serial">Hospital license serial No</label>
                </div>
                <div class="form-row md-form mt-0 md-outline">
                    <div class="col">
                        <!-- email -->
                        <input type="text" id="email" class="form-control">
                        <label for="email">Email</label>
                    </div>
                    <div class="col">
                        <!-- phone -->
                        <input type="text" id="phone" class="form-control">
                        <label for="phone">Phone No</label>
                    </div>
                </div>
                <!-- Country-->
                <div class="md-form mt-0 md-outline">
                    <input type="text" id="country" class="form-control">
                    <label for="country">Country</label>
                </div>
                <!-- region-->
                <div class="md-form mt-0 md-outline">
                    <input type="text" id="region" class="form-control">
                    <label for="region">Region</label>
                </div>
                <!-- district-->
                <div class="md-form mt-0 md-outline">
                    <input type="text" id="district" class="form-control">
                    <label for="district">District</label>
                </div>
              
                <div class="form-row md-form mt-0 md-outline">
                    <div class="col">
                        <a href="#"><button class="btn btn-flat text-capitalize border-0 text-primary py-2 px-2"><b>Back
                                    to Home</b></button></a>
                    </div>
                     <!-- Register button -->
                    <div class="col">
                        <button class="btn btn-primary text-capitalize  py-2 " type="submit">Register</button>
                    </div>

                </div>
            </form>
            <!-- Form -->
        </div>
    </div>
</body>
<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/popper.min.js"></script>
<script type="text/javascript" src="../../js/mdb.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<html>