<div class="container mt-3">
    <div class=" ml-auto mr-auto col-md-4 p-3 m-3 card">
        <h3 class="text-center text-primary">iReferral.</h3>
        <h5 class="text-center mb-3">Register Now It's free!</h5>
               <!-- Form -->
        <form method="POST" class="">
            <div class="border-1">
            <div class="form-row mt-0">
                <div class="col">
                    <!-- First name -->
                    <label class="text-primary" for="f_Firstname">First name</label>
                    <input type="text" id="f_Firstname" name="first" class="form-control">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <label class="text-primary" for="f_Lastname">Last name</label>
                    <input type="text" id="f_Lastname" name="last" class="form-control">
                </div>
            </div>
            <div class="form-row mt-1">
                <div class="col">
                    <!-- Huduma no-->
                    <label class="text-primary" for="hdm">Huduma No</label>
                    <input type="text" id="hdm" name="huduma" class="form-control">
                </div>
                <div class="col">
                    <!-- phone number -->
                    <label class="text-primary" for="phone2">Phone No</label>
                    <input type="text" id="phone2" name="phone" class="form-control">
                </div>
            </div>
            <div class="form-row mt-1">
                <div class="col">
                    <!-- date of birth -->
                    <label class="text-primary" for="dob">Date of Birth</label>
                    <input type="text" id="dob " name="dob" class="form-control popupDatepicker" readonly="readonly" style="background:white;">
                </div>
                <div class="col">
                    <!-- phone number -->
                    <!-- <input type="text" id="phone1" name="sex" class="form-control">-->
                    <label class="text-primary" for="phone1">Gender</label>
                    <select name="sex" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-row mt-1">
                <div class="col">
                    <!-- Password -->
                    <label class="text-primary" for="fPassword">Password</label>
                    <input type="password" id="fPassword" name="pass" class="form-control">
                </div>
                <div class="col">
                    <!-- Confirm password -->
                    <label class="text-primary" for="fConfirm">Confirm Password</label>
                    <input type="password" id="fConfirm" name="copass" class="form-control">

                </div>
                <small id="helpBlock" class="form-text text-success ml-auto mr-auto text-muted">
                    Use 8 or more characters including digits& both capital and small letters
                </small>
            </div>
            <p class="text-danger">{{.flash.error}}</p>
            <p class="text-danger">{{.Errors}}</p>
            <!-- Sign up button -->
            <div class="form-row md-form mt-0 md-outline">
                <div class="col">
                    <a class="btn btn-flat text-capitalize border-0 text-primary py-2 px-2"
                        href="../auth/p_login"><b>Sign in instead</b></button></a>
                </div>
                <div class="col">
                    <button class="btn btn-primary text-capitalize  py-2 " type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>

        <!-- Form -->
    </div>
</div>