
    <div class="container mt-3">
        <div class=" ml-auto mr-auto col-md-4 p-3 m-3 card">
            <h3 class="text-center text-primary">iReferral.</h3>
            <h5 class="text-center mb-3">Create your account for iReferral</h5>
            <!-- Form -->
            <form method="POST" class="text-center">
                <!-- Huduma no-->
                <small id="helpBlock" class="form-text mr-auto mb-2 text-warning text-muted">
                    * Use your national id number used for your employment.
                </small>
                <div class="md-form mt-0 md-outline">

                    <input type="text" id="hdm" name="empId" class="form-control">
                    <label for="hdm">Employee ID</label>

                </div>
                <div class="form-row md-form mt-0 md-outline">
                    <div class="col">
                        <!-- date of birth -->
                        <input type="email" id="email" name="email" class="form-control">
                        <label for="email">Email</label>
                    </div>
                    <div class="col">
                        <!-- phone number -->
                        <input type="text" id="phone" name="phone" class="form-control">
                        <label for="phone">Phone No</label>
                    </div>
                </div>

                <div class="form-row md-form mt-0 md-outline">
                    <div class="col">
                        <!-- Password -->
                        <input type="password" id="fPassword" name="pass" class="form-control">
                        <label for="fPassword">Password</label>
                    </div>
                    <div class="col">
                        <!-- Confirm password -->
                        <input type="password" id="fConfirm" name="copass" class="form-control">
                        <label for="fConfirm">Confirm</label>
                    </div>
                    <small id="helpBlock" class="form-text ml-auto mr-auto text-muted">
                        Use 8 or more characters including digits& both capital and small letters
                    </small>
                </div>
                <p class="text-danger">{{.Errors}}</p>
                <p class="text-danger">{{.flash.error}}</p>
                <!-- Sign up button -->
                <div class="form-row md-form mt-0 md-outline">
                    <div class="col">
                        <a href="../auth/s_login" class="btn btn-flat text-capitalize border-0 text-primary py-2 px-2"><b>Sign
                                    in instead</b></a>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary text-capitalize  py-2 " type="submit">Sign up</button>
                    </div>
                </div>
            </form>
            <!-- Form -->
        </div>
    </div>
